In [12]:
import pandas as pd
import os

In [13]:
diretorio_atual = os.getcwd()

In [14]:
df = pd.read_csv('fonte_dados.csv', delimiter=';', encoding='utf-8')
df['DataContratacao'] = pd.to_datetime(df['DataContratacao'], format='%Y-%m-%d')
df['Salario'] = df['Salario'].astype(str)
df

,Nome,Sobrenome,DataContratacao,Salario,Sexo,Cidade,Cargo
0,Pedro,Rodrigues,2007-08-16,7000.0,Masculino,Belo Horizonte,Assessor 1
1,Larissa,Pereira,2000-07-21,7000.0,Feminino,Recife,Gerente de Equipe
2,Carlos,Santos,2015-05-07,7000.0,Feminino,Recife,Assessor 2
3,Laura,Oliveira,2016-04-04,7000.0,Masculino,Curitiba,Assessor 2
4,Carlos,Rodrigues,2002-03-03,7000.0,Feminino,Salvador,Gerente de Soluções
...,...,...,...,...,...,...,...
205,João,Gomes,2018-11-10,7000.0,Masculino,Belo Horizonte,Assessor 1
206,Bruno,Gomes,2021-07-06,7000.0,Feminino,Porto Alegre,Assessor 1
207,Carlos,Lima,2011-07-16,25000.0,Feminino,São Paulo,Gerente de Soluções
208,Camila,Santos,2002-06-26,7000.0,Masculino,Manaus,Gerente de Equipe
209,Lucas,Pereira,2009-04-10,7000.0,Masculino,Curitiba,Assessor 2

In [15]:
df.dtypes

Nome                       object
Sobrenome                  object
DataContratacao    datetime64[ns]
Salario                    object
Sexo                       object
Cidade                     object
Cargo                      object
dtype: object

In [16]:
df[df.duplicated(keep=False)]

,Nome,Sobrenome,DataContratacao,Salario,Sexo,Cidade,Cargo
14,Ana,Silva,2013-03-28,7000.0,Feminino,Manaus,Assessor 1
21,Camila,Lima,2009-09-06,16000.0,Masculino,Brasília,Assessor 3
23,Larissa,Rodrigues,2008-08-01,7000.0,Feminino,Salvador,Gerente de Equipe
29,Ana,Oliveira,2012-06-16,25000.0,Masculino,São Paulo,Gerente de Soluções
49,Camila,Lima,2009-09-06,16000.0,Masculino,Brasília,Assessor 3
57,Larissa,Gomes,2005-03-27,7000.0,Feminino,Recife,Assessor 1
63,Camila,Almeida,2021-08-17,7000.0,Masculino,Manaus,Assessor 3
67,Pedro,Oliveira,2020-08-22,7000.0,Masculino,Salvador,Gerente de Soluções
114,Ana,Oliveira,2012-06-16,25000.0,Masculino,São Paulo,Gerente de Soluções
125,Larissa,Gomes,2005-03-27,7000.0,Feminino,Recife,Assessor 1
127,Lucas,Pereira,2013-09-10,7000.0,Feminino,Curitiba,Assessor 1
132,Larissa,Rodrigues,2008-08-01,7000.0,Feminino,Salvador,Gerente de Equipe
135,Lucas,Pereira,2009-04-10,7000.0,Masculino,Curitiba,Assessor 2
139,Lucas,Pereira,2013-09-10,7000.0,Feminino,Curitiba,Assessor 1
144,Pedro,Oliveira,2020-08-22,7000.0,Masculino,Salvador,Gerente de Soluções
163,Maria,Silva,2020-09-11,7000.0,Masculino,Porto Alegre,Assessor 2
169,Ana,Silva,2013-03-28,7000.0,Feminino,Manaus,Assessor 1
176,Maria,Silva,2020-09-11,7000.0,Masculino,Porto Alegre,Assessor 2
190,Camila,Almeida,2021-08-17,7000.0,Masculino,Manaus,Assessor 3
209,Lucas,Pereira,2009-04-10,7000.0,Masculino,Curitiba,Assessor 2

In [17]:
df = df.drop_duplicates(keep='first')

In [18]:
df_masculino = df[df['Sexo'] == 'Masculino']
df_feminino = df[df['Sexo'] == 'Feminino']
df_escriturario = df[df['Cargo'] == 'Escriturário']
df_assessor = df[df['Cargo'].str.startswith('Assessor')]
df_gerentes = df[df['Cargo'].str.startswith('Gerente ')]

In [19]:
dataframes = [df_masculino, df_feminino, df_escriturario, df_assessor, df_gerentes]

for nome_df, dataframe in zip(['Funcionarios_Masculinos.csv', 'Funcionarios_Femininos.csv', 'Funcionarios_Escriturarios.csv', 'Funcionarios_Assessores.csv', 'Funcionarios_Gerentes.csv'], dataframes):

    caminho_arquivo_csv = os.path.join(diretorio_atual, nome_df)
    
    dataframe.to_csv(caminho_arquivo_csv, index=False)